@{
    ViewData["Title"] = "About Electrideals";
}

<div class="about-company" style="background-color:blue;border-radius:30px;">
    <h2>Fit for Life <i class="fa fa-shopping-bag" style="font-size:36px;"></i></h2>
</div>

<div class="about-description">
    <p>
        Electrideals is an online store where you can purchase products with shocking deals! You can search
        for different categories, and see all the deals!
    </p>
    <p>We put all our effort in to make sure our products are of 100% quality!</p>
    <p>
        Have a product you want us to sell? Please contact our <a href="mailto:design@electrideals.com">Creative Team</a> with your product!
    </p>
</div>