@{
    ViewData["Title"] = "Contact Electrideals";
}

<div class="contact-company" style="background-color:blue;border-radius:30px;">
    <h2>Contact Electrideals <i class="fa fa-shopping-bag" style="font-size:36px;"></i></h2>
    <h3>Here is how you can contact us!</h3>
</div>

<div class="location">
    <address>
        6353 Quan Tabo Apt 6<br />
        Albuquerque, NM 87101<br />
        <i class="fa fa-mobile" style="font-size:36px"></i> 231.936.DEAL
    </address>

    <address>
        <strong>Tech Support:</strong>   <a href="mailto:Support@electrideals.com">Support@electrideals.com</a><br />
        <strong>Sales/Marketing:</strong> <a href="mailto:Marketing@electrideals.com">Marketing@electrideals.com</a>
    </address>
</div>