@{
    ViewData["Title"] = "Electrideals";
}

<div class="text-center" style="background-color:blue; border-radius: 30px;">
    <h1 class="main-head">Electrideals <i class="fa fa-shopping-bag" style="font-size:36px;"></i></h1>
    <p class="main-head-text">
        The best online store to find deals on what ever you are looking for.
        The deals will surely SHOCK you!
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2 class="main-sub-head">Categories</h2>
        <p class="main-sub-text">
            Shop for a wide variety of products on our online store!
        </p>
    </div>
    <div class="col-md-4">
        <h2 class="main-sub-head">Shocking Deals</h2>
        <p class="main-sub-text">
            Check out our shocking deals on a variety of different products!
        </p>
    </div>
    <div class="col-md-4">
        <h2 class="main-sub-head">100% Quality</h2>
        <p class="main-sub-text">
            We guarantee our products are of 100% quality for the consumers!
        </p>
    </div>
</div>

<div class="row">
    <img src="~/images/phones.jpg" alt="cellphones" asp-append-version="true"
        class="img-main" />
    <img src="~/images/deals.jpg" alt="sales" asp-append-version="true"
        class="img-main" />
    <img src="~/images/quality.jpg" alt="quality products" asp-append-version="true"
        class="img-main" />
</div>