@{
    ViewData["Title"] = "Electrideals";
}

<div class="text-center" style="background-color:blue; border-radius: 30px;">
    <h1>Electrideals <i class="fa fa-shopping-bag" style="font-size:36px;"></i></h1>
    <p class="description">
        The best online store to find deals on what ever you are looking for.
        The deals will surely SHOCK you!
    </p>
</div>

<div class="row">
    <div class="col">
        <h2>Categories</h2>
        <p>
            Shop for a wide variety of products on our online store!
        </p>
    </div>
    <div class="col">
        <h2>Shocking Deals</h2>
        <p>
            Check out our shocking deals on a variety of different products!
        </p>
    </div>
    <div class="col">
        <h2>100% Quality</h2>
        <p>
            We guarantee our products are of 100% quality for the consumers!
        </p>
    </div>
</div>

<div class="row">
    <img src="~/images/phones.jpg" alt="cellphones" asp-append-version="true"
        class="float-sm-start img-fluid categories-img shadow rounded-sm" />
    <img src="~/images/deals.jpg" alt="sales" asp-append-version="true"
        class="float-sm-start img-fluid deals-img shadow rounded-sm" />
    <img src="~/images/quality.jpg" alt="quality products" asp-append-version="true"
        class="float-sm-start img-fluid quality-img shadow rounded-sm" />
</div>