@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="privacy-policy" style="background-color: blue; border-radius: 30px;">
    <h1>@ViewData["Title"]</h1>
</div>
<p>Client information is confidential</p>
