body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: aliceblue;
    color: black;
}

a {
    color: cornflowerblue;
    text-decoration: none;
    padding: 10px;
}

a:hover {
    font-size: 1.2em;
    text-shadow: 1px 1px 10px cornflowerblue;
    border-radius: 10px;
    text-decoration: none;
    color: cornflowerblue;
}

.nav-link:hover {
    color: white;
    background-color: cornflowerblue;
    text-decoration: none;
    border-radius: 10px;
}

.nav-link {
    color: darkblue;
}